{% extends "Kbase.html" %}
{% block content %}
    <h1>Iniciar Sesión</h1>
    <form action="" method="post" validate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.usuario.label }}<br>
            {{ form.usuario(size=30)}}<br>
        </p>
        <p>
            {{ form.contrasena.label }}<br>
            {{ form.contrasena(size=30) }}<br>
        </p>
        <p>{{ form.recordar() }} {{ form.recordar.label }}</p>
        <p>{{ form.enviar() }}</p>
    </form>
{% endblock %}